[Unit]
Description=Myblog Application
After=network.target

[Service]
User=marlon
Group=marlon
WorkingDirectory=/home/marlon/app/src
Environment="PATH=/home/marlon/app/venv/bin"
ExecStart=/home/marlon/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
